node_modules
.pnpm-store

out
dist
.output
.vercel
*.tgz

coverage
*.lcov

logs
*.log

.env
.env.development.local
.env.test.local
.env.production.local
.env.local
!.env*.example

.temp/
playwright-report/
test-results/
.cache
*.tsbuildinfo
.tanstack/

.idea
.DS_Store
